<p class="text-center" id="notice"><%= notice %></p>

<div class="text-center"><div class="jumbotron">
  <h3>Task:</h3>
  <%= @task.content %>
</div></div>
<div class="text-center" id="sub-area">
<%= link_to 'Edit Task', edit_task_path(@task) %> |
<%= link_to 'Return to Task Board', tasks_path %>
</div>