<div class="jumbotron">
<h1>About Stew<i class="fa fa-check-circle"></i>Do</h1>
<br>
<p>Stew<i class="fa fa-check-circle"></i>Do is the perfect app for anyone who likes keeping track of what they have to do, but doesn't need any of the frilly bullshit found in most modern task management apps.</p>
</div>